$dark-color: #1e1e1e;
$gray-color: #2e2e2e;
$light-color: #f4f4f4;
$yellow-color: #f3cb15;
$font-poppins: "Poppins", sans serif;
$font-raleway: "Raleway", sans serif;

// Base CSS

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: $dark-color;
  color: $light-color;
  font-family: $font-raleway;
}

h1,
h2,
h3,
h4 {
  font-family: $font-poppins;
}

h1 {
  font-size: 2.6rem;
  text-transform: uppercase;
}

.section-title {
  text-align: center;
  margin-bottom: 1rem;
}

hr {
  color: $yellow-color;
  background-color: $yellow-color;
  width: 30%;
  height: 4px;
  border-radius: 5px;
  border-width: 0;
  margin: auto;
}

section {
  margin-bottom: 28rem;
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding: 1em 2em;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}

a:visited {
  color: $light-color;
}

a:hover {
  color: $yellow-color;
}

.fa-brands {
  padding: 1px 0.6em;
  font-size: 2.4em;
  color: $yellow-color;
}

// Header CSS

header {
  background-color: $gray-color;
  position: fixed;
  width: 100%;
  font-family: $font-poppins;
  letter-spacing: 1px;
  text-transform: uppercase;
}

header section {
  margin-bottom: 0;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 5em;
}

header li {
  display: inline;
  cursor: pointer;
}

header li:hover {
  color: $yellow-color;
  transition: color 0.3s;
}

// Hero CSS

.hero-section {
  margin-bottom: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
}

.hero-content p {
  font-size: 1.2em;
}

// About CSS

.about-content {
  display: grid;
  gap: 2rem;
}

.skills-container {
  width: 100%;
  background-color: $gray-color;
}

.skills-content {
  color: $dark-color;
  background-color: $yellow-color;
  text-align: end;
  padding: 2px;
  margin-bottom: 1rem;
}

.html {
  width: 80%;
}

.css {
  width: 60%;
}

.js {
  width: 10%;
}

// Portfolio CSS

.portfolio-section {
}

// Contact CSS

.contact-section {
}

// Footer CSS

.footer-section {
}

// Media Queries: Mobile

@media only screen and (max-width: 767px) {
  header {
    display: none;
  }

  section {
    padding: 1rem 2rem;
  }

  .hero-content {
    padding: 2rem;
  }

  .about-content {
    grid-template-rows: 1fr 1fr;
  }
}

@media only screen and (min-width: 767px) {
  section {
    padding: 1rem 8rem;
  }

  .about-content {
    grid-template-columns: 1fr 1fr;
  }
}
